.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  ul {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      margin-right: 10px;
      a {
        display: block;
        padding: 6px 12px;
        background-color: #efefef00;
        border: 1px solid #d4d4d400;
        border-radius: 4px;
        text-decoration: none;
        color: #333;

        &.active {
          background-color: #000000;
          border-color: #000000;
          color: #000000;
        }
      }
    }
  }
}
