@mixin card-box {
  background-color: rgba(217, 217, 217, 0.8);
  border: 1px solid black;
  box-shadow: 0.5rem 0.5rem;
  border-radius: 10px;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  img {
    width: 90px;
    height: 90px;
  }
}

.card__container {
  display: grid;
  gap: 1rem;
  padding: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}

.card {
  @include card-box();
  list-style: none;
  flex-direction: column;
  width: 9rem;
  &info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name {
    font-size: 0.6rem;
    padding-block-end: 1rem;
  }
  .card__types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .types-container {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
    }
    p {
      font-size: 0.8rem;
    }
    .like-white {
      width: 1.2rem;
      height: 1rem;
    }
    .like-red {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

@media (min-width: 380px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;

    .card__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 4rem;
      row-gap: 6rem;
      justify-content: space-evenly;
      grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
      .card {
        transform: scale(1.3);
      }
    }
  }
}
